{% extends 'base.html.twig' %}

{% block title %}Liste des Membres{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    <h1>Liste des Membres</h1>
    <ul>
        {% for member in members %}
            <li>
                <a href="{{ path('app_member_show', { 'id': member.id }) }}">
                    Voir le profil de {{ member.email }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

