{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle WatchBox{% endblock %}

{% block body %}
    <h1>Créer une nouvelle WatchBox</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_watch_box') }}">Retour à la liste des WatchBoxes</a>
{% endblock %}
