{% extends 'base.html.twig' %}

{% block title %}New Showcase{% endblock %}

{% block body %}
    <h1>Create new Showcase</h1>

    {{ include('showcase/_form.html.twig') }}

<a href="{{ path('app_member_show', { 'id': member.id }) }}">back to list</a>
{% endblock %}
