{% extends 'base.html.twig' %}

{% block title %}New Showcase{% endblock %}

{% block body %}
    <h1>Create new Showcase</h1>

    {{ include('showcase/_form.html.twig') }}

<a href="{{ path('app_showcase_index', { 'memberId': member.id }) }}">back to list</a>
{% endblock %}
