{% extends 'base.html.twig' %}

{% block title %}Showcase{% endblock %}

{% block main %}
    <h2>Montres</h2>
<ul>
   {% for watch in showcase.watches %}
   <li>
     <a href="{{ path( 'app_showcase_watch_show', {
                     'showcase_id': showcase.id,
                     'watch_id': watch.id
                   }) }}">
        {{ watch.name }}
     </a>
   </li>
   {% endfor %}
</ul>
{% endblock %}
