{% extends 'base.html.twig' %}

{% block title %}Liste des WatchBoxes{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-4">Liste des WatchBoxes</h1>

    {% if watchBoxes is empty %}
        <div class="alert alert-warning" role="alert">
            Aucune montre n'a été trouvée dans la base de données.
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for watchBox in watchBoxes %}
                    <tr>
                        <td>{{ watchBox.name }}</td>
                        <td>
                            <a href="{{ path('watchBox_show', {id: watchBox.id}) }}" class="btn btn-primary btn-sm">
                                Voir Détails
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

