<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Application{% endblock %}</title>

    {# Utiliser Webpack Encore pour inclure les fichiers CSS avec versioning #}
    {{ encore_entry_link_tags('app') }}

</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {# Inclure le fichier JS généré par Webpack Encore #}
    {{ encore_entry_script_tags('app') }}
</body>
</html>
